# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Environments
.venv/
venv/
ENV/
env/

# Project output and temporary files
output/
scratch/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store

# nix
.direnv/
